body {
	background-color: #777;
}
header {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: center;
	color: #777;
	background: #ebebeb;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 20px;
}
nav 	{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: center;
	color: #777;
	background: #ebebeb;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-right: 200px;
	margin-left: 200px;
}
section    {
	background: #ebebeb;
	color: #777;
	padding-top: 35px;	
	padding-bottom: 285px;
	margin-left: 200px;
	margin-right: 900px;
	text-align: center;
	display: inline-block;
}
